@page
@model ViewModel.Pages.LogisticsHandle.HandleSingleOrderModel
@{
}
<div class="row">

    <div class="col-6">
        <h5>Order's Information</h5>
        <div class="m-0 border-0 row g-3">
            <div class="col-md-4">
                <label for="inputEmail4" class="form-label">Order ID</label>
                <input type="number" class="form-control" id="inputEmail5" value="@Model.order.OrderId" disabled>
            </div>
            <div class="col-md-4">
                <label for="inputEmail4" class="form-label">Receiving Address</label>
                <input type="text" class="form-control" id="inputEmail4" value="@Model.order.ReceivingAddress" disabled>
            </div>
            <div class="col-md-4">
                <label for="inputEmail4" class="form-label">Sending Adreess</label>
                <input type="text" class="form-control" id="inputEmail6" value="@Model.order.SendingAddress" disabled>
            </div>
        </div>

        <h4> Add Shipper to Route</h4>
        <form method="post" >
            @*<label for="exampleDataList" class="form-label">Datalist example</label>*@
            <input class="form-control" list="datalistOptions" id="exampleDataList11" name="warehouseKeyWord" placeholder="Type to search..."/>

@*        <datalist id="datalistOptions">
                @foreach (var item in Model.warehouse)
                {
                    <option value="@item.WarehouseId" title="@item.Location"/>
                }
            </datalist>*@
            <br />
            <button asp-page-handler="InfoShipper" type="submit" class="btn btn-outline-info" title="Info">Info</button>
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">View Shipper below Warehouse</button>
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">List Shipper below Warehouse</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    @foreach(var item in Model.warehouse)
                    {
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo{@item.WarehouseId}">
                                   @item.WarehouseName
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    @foreach (var item1 in item.Shippers)
                                    {
                                        <div>@item1.ShipperId</div>
                                        <div> @item1.Email  </div>
                                        <div>@item1.PhoneNumber</div>
                                        <br />
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>  
            <br />
        </form>
        <br />
        @if (Model.shippers is not null)
        {
            @foreach (var item in Model.shippers)
            {
                <form method="post">
                    <div class=" row g-3">
                        <div class="col-md-4">
                            <input class="form-control"  name="shipperId" value="@item.ShipperId" disabled/>
                        </div>
                        <div class="col-md-4">
                            <select class="form-select" aria-label="Default select example" name="ShipperType">
                                <option selected>Open this select menu</option>
                                <option value="Receive">Receive</option>
                                <option value="Send">Send</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" asp-page-handler="AddShipper" asp-route-id="@item.ShipperId">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>

            }
        }

        <br />
        <h4>Receiving Shipper</h4>
        <table>
            <form method="post" asp-page="handlesingleorder">
            <tr>
                <th>Shipper ID</th>
                <th>Shipper Name</th>
                <th>Phone</th>
                <th>Delete</th>
            </tr>
            @if (Model.receivingShipperList is not null)
                {
                    @foreach (var item in Model.receivingShipperList)
                    {
                    <tr aligin="center">
                        <td>@item.ShipperId</td>
                        <td>@item.ShipperName</td>
                        <td>@item.PhoneNumber</td>
                        <td align="center">
                            <a asp-page="cart" asp-page-handler="delete" asp-route-id="" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                    }
                }
          
            </form>
        </table>
        <br />
        <h4>Sending Shipper</h4>
        <table>
            <form method="post" asp-page="handlesingleorder">
            <tr>
                <th>Shipper Name</th>
                <th>Warehouse Location</th>
                <th>Phone</th>
                <th>Delete</th>
            </tr>
                @if (Model.sendingShipperList is not null)
                {
                    @foreach (var item in Model.sendingShipperList)
                    {
                    <tr aligin="center">
                        <td>@item.ShipperId</td>
                        <td>@item.ShipperName</td>
                        <td>@item.PhoneNumber</td>
                        <td align="center">
                            <a asp-page="cart" asp-page-handler="delete" asp-route-id="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                    }
                }
            </form>
        </table>
        <br />
        <h4>Add Warehouse to Route</h4>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions1" aria-controls="offcanvasWithBothOptions1">Enable both scrolling & backdrop</button>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions1" aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <p>Try scrolling the rest of the page to see this option in action.</p>
                @foreach (var item in Model.warehouse)
                {
                    @item.WarehouseId 
                    
                    @item.WarehouseName
                    <br/>
                }
            </div>
        </div>
       
        <form class="row g-3" method="post">
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Warehouse</label>
                <input type="number"  class="form-control-plaintext" id="staticEmail2"  name="WarehouseId">
            </div>
            <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden">Sequence Number </label>
                <input type="number" class="form-control-plaintext" id="staticEmail2" name="sequenceNumberWarehouse">
            </div>
            <div class="col-auto">
                <span>@TempData["ErrorInSequenceNumber"]</span>
                <button type="submit" class=" bi bi-check btn btn-outline-info" asp-page-handler="AddWarehouseToRoute">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                    </svg>
                </button>
            </div>
        </form>

        <br />
        <h4>Warehouse in Route</h4>
        <table>
            <form method="post" asp-page="handlesingleorder">
            <tr>
                <th>Warehouse  Name</th>
                <th>Warehouse Location</th>
                <th>Warehouse Manager Name</th>
                <th>Warehouse Email</th>
                <th>Warehouse PhoneNumber</th>
            </tr>
                @if (Model.warehouseCartList is not null)
                {
                    @foreach (var item in Model.warehouseCartList)
                    {
                    <tr aligin="center">
                        <td>@item.SequenceNumber</td>
                        <td>@item.WarehouseName</td>
                        <td>@item.WarehouseLocation</td>
                        <td align="center">
                            <a asp-page="cart" asp-page-handler="delete" asp-route-id="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                    }
                }
            </form>
        </table>
        <a asp-page="handlesingleorder" asp-page-handler="AddRoute">Order</a>
    </div>
    <div class="col-6">
    </div>
</div>