@page
@model ViewModel.Pages.Warehouses.MainScreenModel
@{
}
<div class="row">

    <div class="col-md-4">
        <div class="mb-3">
            <h2>Information</h2>
        </div>
        <div class="mb-3">
            <label asp-for="warehouseManager.WarehouseManagerId" id="disabledTextInput" class="form-label"></label>
            <br />
            <input value="@Model.warehouseManager.WarehouseManagerId" class="form-control" disabled/>
        </div>
        <div class="mb-3">
            <label asp-for="warehouseManager.WarehouseManagerName" class="form-label"></label>
            <br />
            <input type="text" value="@Model.warehouseManager.WarehouseManagerName" />
        </div>
        <div class="mb-3">
            <label asp-for="warehouseManager.Email" class="form-label"></label>
            <br />
            <input type="text" value="@Model.warehouseManager.Email" />
        </div>
        <div class="mb-3">
            <label asp-for="warehouseManager.Password" class="form-label"></label>
            <br />
            <input type="number" value="@Model.warehouseManager.Password" />
        </div>
        <div class="mb-3">
            <label asp-for="warehouseManager.PhoneNumber" class="form-label"></label>
            <br />
            <input type="text" value="@Model.warehouseManager.PhoneNumber" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="mb-3">
            <h2>Warehouse Manager</h2>
        </div>
        <div class="mb-3">
            <label asp-for="warehouse.WarehouseName" class="form-label"></label>
            <br />
            <input type="text" value="@Model.warehouse.WarehouseName" disabled/>
        </div>
        <div class="mb-3">
            <label asp-for="warehouse.Location" class="form-label"></label>
            <br />
            <input type="text" value="@Model.warehouse.Location" disabled />
        </div>
    </div>
    <div class="col-md-4">
        <div class="mb-3">
            <h2>Order Manager</h2>
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-cta"><a asp-page="/Warehouses/ViewOrderAtWarehouse">Manage Order</a></button>
        </div>
    </div>
</div>