@page
@model ViewModel.Pages.Warehouses.ViewOrderAtWarehouseModel
@{
}
<h1>Orders at Warehouse</h1>
@{
    var warehouseId = Model.WarehouseId;
    var warehouseName = Model.Warehouses.FirstOrDefault(w => w.WarehouseId == warehouseId)?.WarehouseName;
}

<p>Warehouse: @warehouseName (ID: @warehouseId)</p>

<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th scope="col">Receiving Address</th>
            <th scope="col">Sending Address</th>
            <th scope="col">Sequence Number</th>
            <th scope="col">Note</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.orderInWarehouses)
        {
            <tr>
                <td>@item.OrderId</td>
                <td>@item.receivingAddress</td>
                <td>@item.sendingAddress</td>
                <td>@item.sequenceNumber</td>
                <td>@item.Note</td>
                <td>
                    @if ( item.TrackingStatus == "Coming")
                    {
                        <form method="post" asp-page-handler="MarkAsDelivered">
                            <input type="hidden" name="trackingOrderId" value="@item.TrackingOrderId" />
                            <button type="submit">Mark as Delivered</button>
                        </form>
                    }
                    @if (item.TrackingStatus == "Delivery")
                    {
                        <form method="post" asp-page-handler="AddToWarehouse">
                            <input type="hidden" name="trackingOrderId" value="@item.TrackingOrderId" />
                            <button type="submit">Receive Order</button>
                        </form>
                    }
                    @if (item.TrackingStatus == "InWarehouse" && item.LastWarehouse == true)
                    {
                        <form method="post" asp-page-handler="SendOrderToCustomer">
                            <input type="hidden" name="trackingOrderId" value="@item.TrackingOrderId" />
                            <button type="submit">Send  Order To Customer</button>
                        </form>
                    }
                    @if (item.TrackingStatus == "InWarehouse" && item.LastWarehouse == false)
                    {
                        <form method="post" asp-page-handler="SendWarehouseToNextWarehouse">
                            <input type="hidden" name="trackingOrderId" value="@item.TrackingOrderId" />
                            <button type="submit">Transfer Order</button>
                        </form>
                    }
                  
                    @if(item.TrackingStatus == "Shipped")
                    {
                        <span>Done</span>
                    }
                    @if (item.TrackingStatus == "InRoute")
                    {
                        <span>In Route</span>
                    }
                </td>
            </tr>
        }
        }
    </tbody>
</table>
