@page
@model ViewModel.Pages.CustomerFolder.OrderHandle.OrderDetailHistoriesModel
@{
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.orderDetail[0].OrderDetailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderDetail[0].BirdId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderDetail[0].BirdCage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderDetail[0].Certificate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderDetail[0].DeliveryStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.orderDetail)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDetailId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirdId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirdCage)
                </td>
                <td>
                    <p><a href="https://firebasestorage.googleapis.com/v0/b/prn221-save-image.appspot.com/o/assets%2Fdocument.pdf?alt=media&token=262d01ca-6340-46be-86dd-7f8fdc04fbe7">Certificate</a></p>
                
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryStatus)
                </td>
            </tr>
        }
    </tbody>
</table>