@page
@model ViewModel.Pages.CustomerFolder.OrderHandle.OrderDetailHistoriesModel
@{
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.orderDetail[0].OrderDetailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderDetail[0].Bird.BirdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderDetail[0].BirdCage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderDetail[0].Certificate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderDetail[0].DeliveryStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.orderDetail)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDetailId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bird.BirdName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirdCage)
                </td>
                <td>
                    <img src="https://firebasestorage.googleapis.com/v0/b/prn221-save-image.appspot.com/o/assets%2FBingWallpaper%20(58).jpg?alt=media&token=19d61638-3089-49e4-9224-cbfd21083bb7" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryStatus)
                </td>
            </tr>
        }
    </tbody>
</table>