@page
@model ViewModel.Pages.Manager.WarehouseManagers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Warehouse Management</h1>

<p style="text-align: right;">
    <a asp-page="Create" style="background-color: #1919ff; color: white; padding: 10px 20px; text-decoration: none;">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse[0].WarehouseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse[0].Location)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Warehouse[0].WarehouseManager)*@
                Warehouse
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Warehouse) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseManager.WarehouseManagerId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.WarehouseId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.WarehouseId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.WarehouseId">Delete</a> |
                <a asp-page="./WarehouseManagement" asp-route-id="@item.WarehouseId">Warehouse Manager</a>
            </td>
        </tr>
}
    </tbody>
</table>
